<!DOCTYPE html>
<html>

  {% include head.html %}

    <!-- For Load in Logo Effect -->
    <body id="page-top" class="index" onLoad="JSFX_StartEffects(); bootupLogoAni();">
    <div id="DERP"><a class="button" href="#" ><img class="centered fadein" src="img/derpface.gif"></a></div>
    <div class="contain-all">
    <!-- -->
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    <!-- Load in logo effect -->
    </div>
    <!-- -->
    </body>
</html>